<div>
<h3>Detalles de los juegos</h3>
    <div>
        <h4>{{singleGame.title}}
            <br> 
            <br>{{this.singleGame.description}}
            <br> {{this.singleGame.releaseDate}}
            <br> {{this.singleGame.company}}</h4>
        <img src="{{this.singleGame.url}}" alt="Game"  width="300px">
        
        {{#each this.singleGame.type}}
        <li>{{this}}</li>
        {{/each}}
    </div>
</div>



</div>